<br>

<section>
  <div class="row">
    <div class="col-md-8">
      <h2>Usuario conectado:
        <small>{{ wsService.usuario.nombre}}</small>
      </h2>
    </div>

    <div class="col-md-4" align="right">
      <button class="btn btn-danger" (click)="salir()">
        Salir
      </button>
    </div>
  </div>

</section>

<hr color="green">

<br>

<section>
  <div class="row">
    <div class="col-6">
      <app-lista-usuarios></app-lista-usuarios>
    </div>

    <div class="col-6">
      <app-chat></app-chat>
    </div>

  </div>
</section>